.contents.row
  .contents
    = render partial: "sidebar", locals: { message: @message }
    .main
      .top_contents
        .edit_box
          .edit edit
      .center_contents
        .box
          - @messages.each do |message|
            .total_box
              .users_box
                = message.user.name
                %a= message.user.created_at.strftime("%Y-%m-%d %H:%M:%S")
              %span.text #{message.text}
      .bottom_contents
        .bottom_contents_message
          .form
            = form_for [@group, @message] do |f|
              = f.text_field :text, class: 'group1', placeholder: 'type a message'
              = f.submit 'Send', class: 'group2'